#
# Customize this configuration file according to your environment.
#

Weeter.configure do |conf|
  # For basic auth
  # conf.twitter_basic_auth = {:username => 'david', :password => 'secr3tp2ssw0rd'}

  # Or, for oauth
  # conf.twitter_oauth = {:consumer_key => 'consumerkey',
  #              :consumer_secret => 'consumersecret',
  #              :access_key => 'accesskey',
  #              :access_secret => 'access_secret'}

  conf.subscriptions_url = 'http://www.mysite.com/twitter_subscriptions.json'
  conf.publish_url       = 'http://www.mysite.com/tweets/create'
  conf.delete_url        = 'http://www.mysite.com/tweets/destroy'
  conf.listening_port    = 8080
  conf.log_path          = '/tmp/weeter.log'
end