#
# Customize this configuration file according to your environment.
#

Weeter.configure do |conf|

  conf.twitter do |twitter|
    # For basic auth
    # twitter.basic_auth = {:username => 'johnny', :password => 'secret'}
    
    # Or, for oauth
    # conf.twitter_oauth = {:consumer_key => 'consumerkey',
    #                       :consumer_secret => 'consumersecret',
    #                       :access_key => 'accesskey',
    #                       :access_secret => 'access_secret'}
  end

  conf.client_app do |client_app|
    client_app.oauth = {:consumer_key => 'key',
                        :consumer_secret => 'secret',
                        :access_key => 'accesskey',
                        :access_secret => 'accesssecret'}
    client_app.subscriptions_url = 'http://www.site.com/subs'
    client_app.delete_url = "http://www.site.com/tweets/destroy"
    client_app.publish_url = 'http://www.site.com/tweets/create'
  end

  # conf.log_path = ''
  # conf.listening_port = 7337
end